.logo {
  padding: 2rem;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.logo span {
  margin-left: 15px;
  font-family: 'ProximaNovaLight', sans-serif;
  font-size: 2rem;
}
