.footer {
  position: relative;
  background-color: blue;
  text-align: center;
}

.shareIcons {
  width: 100%;
  bottom: 0;
  position: absolute;
  text-align: center;
  padding: 20px 0;
}

.shareIconLink {
  padding: 0 20px;
  opacity: 0.4;
  transition: opacity 0.5s ease;
  text-decoration: none;

  &:hover {
    opacity: 1;
  }
}