.phoneImage {
  height: 1100px;
  width: 100%;
  position: relative;
  background-image: url(/assets/images/phone-in-hand-background.jpg);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 1000px auto;

  @media screen and (max-width: 700px) {
      background-position: 90% bottom;
  }
}