@import "../../variables.global.css";

.featuredBlock {
  margin: 50px 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
}

.featuredBlockContent .header {
  font-size: 2rem;
  line-height: 0.75;
}

.featuredBlockContent .header span {
  font-size: 3rem;
  line-height: 0.75;
}

.featuredBlockContent {
  flex: 5;
}

.featuredBlockImage {
  flex: 3;
}

.phoneImage {
  max-height: 100vh;
  max-width: 80%;
  margin: 0 auto;
  display: block;
  text-align: center;
}

@media (min-width: 768px) {
  .featuredBlock {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    height: 120vh;
    max-height: 800px;
  }

  .featuredBlock:nth-child(odd) .featuredBlockContent {
    order: 2;
  }

  .featuredBlock:nth-child(even) .featuredBlockImage .phoneImage {
    float: right;
  }

  .featuredBlock:nth-child(odd) .featuredBlockImage {
    order: 1;
  }

  .featuredBlockContent .header {
    font-size: 3rem;
  }

  .featuredBlockContent .header span {
    font-size: 4rem;
  }

  .featuredBlockContent p {
    max-width: 70%;
  }

  .phoneImage {
    margin: 0;
  }
}


@media (min-width: 992px) {
  .featuredBlockContent .header {
    font-size: 4rem;
  }

  .featuredBlockContent .header span {
    font-size: 5rem;
  }
}