/* Using global sytles is not recommended, prefer local styles via CSS Modules */

/*
 * box model like it should be
 *
 * http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 */
html { box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit;
}

/*
 * kill document defaults margin & padding. We all do that all the time, right ?
 */
html,
body {
  margin: 0;
  padding: 0;
}

/*
 * page styles
 */
html {
  min-height: 100%;
  background: color(var(--colorNeutralDark));
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  color: var(--colorText);
  font-size: 1.1rem;
  line-height: 1.5rem;
  text-wrap: balance;

  /* system font https://medium.com/designing-medium/system-shock-6b1dc6d6596f */
  font-family: ProximaNova, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 300;
}

/*
 * Typography
 */
h1,h2,h3,h4,h5 {
  font-family: FiraSans, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 2rem;
}

.title-blue {
  background: -webkit-linear-gradient(-45deg, #16D5D9 0%, #009CF3 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title-green {
  background: -webkit-linear-gradient(-45deg, #96CC29 0%, #14C04D 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title-red {
  background: -webkit-linear-gradient(-45deg, #EC0B84 0%, #E40B2B 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*
 * .phenomic-HeadingAnchor
 *
 * anchors for markdown headings, generated via markdown renderer, so require
 * global styling
 */
@custom-selector :--headings h1, h2, h3, h4, h5, h6;

:--headings {
  position: relative;
}

:root {
  --content-squash: {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 35rem;
    padding: 0 1rem;
  }
}

.phenomic-HeadingAnchor {
  display: none;
}

/* minimal styling, prefer removing this and use local styles */
a {
  color: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

hr {
  border: 0;
  height: 1px;
  background: var(--colorNeutral);
  opacity: 0.2;
  margin: 2rem 0;
}

.squashed {
  @apply --content-squash;
}

/*
 * Form
 */

input {
  margin: 5px;
  padding: 0.8rem;
  border: 0;
  outline: none;
  border-radius: 2px;
  font-size: 1rem;
  transition: opacity 0.5s ease;
  -webkit-appearance: none;

  &:hover {
     opacity: 0.9;
   }
}


button, input[type="submit"] {
  padding: 1rem 2.2rem;
  background: var(--colorNeutral);
  border-radius: 25px;
  color: #ffffff;
  cursor: pointer;
}


/*
 * Fonts
 */

/* Webfont: Montserrat-Regular */
@font-face {
  font-family: ProximaNova;
  src: local(ProximaNova),
       url('/assets/fonts/proxima_nova-light.woff') format('woff');
  font-weight: 300;
}

@font-face {
  font-family: ProximaNova;
  src: local(ProximaNova),
       url('/assets/fonts/proxima_nova-regular.woff') format('woff');
  font-weight: normal;
}

/* Webfont: FireSans */
@font-face {
  font-family: FiraSans;
  src: local("FiraSans-Ultra"),
       url('/assets/fonts/FiraSans-Ultra.ttf');
  font-weight: 700;
}

/*
 * Animations
 */

.available-on-iphone-gradient {
  animation: grad 1.6s linear infinite;
}

@keyframes grad {
  0% {
    transform: translateX(-400px);
  }
  100% {
    transform: translateX(0);
  }
}